@using MatchFixer.Core.ViewModels.Profile;
@model UserDropdownViewModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
<meta name="csrf-token" content="@antiforgery.GetAndStoreTokens(Context).RequestToken" />


<ul class="profile-dropdown-menu d-flex">
	@if (User.Identity.IsAuthenticated)
	{
		<li id="betSlipButtonContainer" class="nav-item position-relative">
			<button id="betSlipToggle" class="btn position-relative">
				<img src="/images/bet-slip/bets.png" alt="Bet Slip" style="height: 40px;">
				<span id="betCountBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
					0
				</span>
			</button>
		</li>
	}
	<li class="nav-item dropdown pe-3 position-relative hover-dropdown-container">

		<a class="nav-link nav-profile d-flex align-items-center pe-0 hover-dropdown" href="#">
			<img src="@Model.ProfileImageUrl" alt="User Image" class="rounded-circle">
			<span class="d-none d-md-block dropdown ps-2"></span>
		</a>

		<ul class="dropdown-menu dropdown-menu-end profile">

			<li class="dropdown-header">
				<h6 class="d-flex align-items-center justify-content-center">@Model.FullName</h6>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>

			<li>

				<form method="get" asp-area="" asp-controller="Profile" asp-action="Profile">
					<input type="hidden" name="userId" value="@Model.Id"/>
					<button type="submit" class="dropdown-item d-flex  align-items-center justify-content-center">
						<span><i class="bi bi-person"></i> My Profile</span>
					</button>
				</form>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			
			<li>
				
				<form method="get" asp-area="" asp-controller="UserBets" asp-action="UserBets">
					<input type="hidden" name="userId" value="@Model.Id" />
					<button type="submit" class="dropdown-item d-flex  align-items-center justify-content-center">
						<span><i class="ri-file-list-fill"></i> My BetSlips</span>
					</button>
				</form>
			</li>

			<li>
				<hr class="dropdown-divider">
			</li>
			
			<li>

				<form method="get" asp-area="" asp-controller="Wallet" asp-action="WalletDetails">
					<button type="submit" class="dropdown-item d-flex  align-items-center justify-content-center">
						<span><i class="bi bi-wallet2"></i> My Wallet</span>
					</button>
				</form>
			</li>

			<li>
				<hr class="dropdown-divider">
			</li>

			<li>
				<form method="get" action="@Url.Action("Privacy", "Home")">
					<button type="submit" class="dropdown-item d-flex align-items-center justify-content-center">
						<span><i class="bi bi-info-circle"></i> Privacy Policy</span>
					</button>
				</form>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>

			<li>
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="dropdown-item d-flex align-items-center justify-content-center">

						<span><i class="bi bi-box-arrow-right"></i> Sign Out</span>
					</button>
				</form>
			</li>



		</ul><!-- End Profile Dropdown Items -->
	</li><!-- End Profile Nav -->
</ul>






