
@model MatchFixer.Infrastructure.Models.FootballAPI.UpcomingMatchesSelectionViewModel

@for (int i = 0; i < Model.Selected.Count; i++)
{
    <tr>
	    <td>
		    <input type="checkbox"
		           name="Selected[@i].Selected"
		           value="true"
		           class="form-check-input"
		           disabled="@Model.Selected[i].IsAlreadyImported" />

		    <input type="hidden" name="Selected[@i].ApiFixtureId" value="@Model.Selected[i].ApiFixtureId" />
		    <input type="hidden" name="Selected[@i].HomeName" value="@Model.Selected[i].HomeName" />
		    <input type="hidden" name="Selected[@i].AwayName" value="@Model.Selected[i].AwayName" />
		    <input type="hidden" name="Selected[@i].HomeLogo" value="@Model.Selected[i].HomeLogo" />
		    <input type="hidden" name="Selected[@i].AwayLogo" value="@Model.Selected[i].AwayLogo" />
		    <input type="hidden" name="Selected[@i].KickoffUtc" value="@Model.Selected[i].KickoffUtc.ToString("o")" />  
	    </td>
        
	    <td class="text-center">
		    @if (Model.Selected[i].IsAlreadyImported)
		    {
			    <i class="bi bi-check-circle-fill text-success"
			       data-bs-toggle="tooltip"
			       data-bs-placement="top"
			       title="This match is already imported">
			    </i>
		    }
		    else
		    {
			    <i class="bi bi-x-circle-fill text-danger"
			       data-bs-toggle="tooltip"
			       data-bs-placement="top"
			       title="This match is not yet imported">
			    </i>
		    }
	    </td>

	    <td>
            @Model.Selected[i].KickoffUtc.ToString("g")
        </td>

        <td>
            <img src="@Model.Selected[i].HomeLogo" height="24" />
            @Model.Selected[i].HomeName
        </td>

        <td>
            <img src="@Model.Selected[i].AwayLogo" height="24" />
            @Model.Selected[i].AwayName
        </td>

        <td>
            <input type="number"
                   name="Selected[@i].HomeOdds"
                   value="@Model.Selected[i].HomeOdds"
                   step="0.01"
                   class="form-control form-control-sm"
                   disabled="@Model.Selected[i].IsAlreadyImported"/>
        </td>

        <td>
            <input type="number"
                   name="Selected[@i].DrawOdds"
                   value="@Model.Selected[i].DrawOdds"
                   step="0.01"
                   class="form-control form-control-sm"
                   disabled="@Model.Selected[i].IsAlreadyImported"/>
        </td>

        <td>
            <input type="number"
                   name="Selected[@i].AwayOdds"
                   value="@Model.Selected[i].AwayOdds"
                   step="0.01"
                   class="form-control form-control-sm"
                   disabled="@Model.Selected[i].IsAlreadyImported"ss/>
        </td>
    </tr>
}
