@model MatchFixer.Core.ViewModels.WordCup.WorldCupMatchCardViewModel

	<div class="wc-bracket-match">

		<div class="wc-bracket-team">

			<div class="wc-bracket-team-info">

				<img src="@Model.HomeLogo"
					 alt="@Model.HomeTeam"
					 class="wc-bracket-logo" />

				<span>
					@Model.HomeTeam
				</span>

			</div>

			<span class="wc-bracket-score">

				@if (Model.HomeScore.HasValue)
				{
					@Model.HomeScore
				}
				else
				{
					@:-
				}

			</span>

		</div>

		<div class="wc-bracket-team">

			<div class="wc-bracket-team-info">

				<img src="@Model.AwayLogo"
					 alt="@Model.AwayTeam"
					 class="wc-bracket-logo" />

				<span>
					@Model.AwayTeam
				</span>

			</div>

			<span class="wc-bracket-score">

				@if (Model.AwayScore.HasValue)
				{
					@Model.AwayScore
				}
				else
				{
					@:-
				}

			</span>

		</div>

	</div>