@model List<MatchFixer_Web_App.Areas.Admin.ViewModels.Events.AdminBetSummaryDto>

<h5 class="text-center">Bets</h5>
<table class="table table-sm admin-user-bets-table">
	<thead>
	<tr>
		<th class="text-center">User</th>
		<th class="text-center">Pick</th>
		<th class="text-center">Odds</th>
		<th class="text-center">Stake</th>
		<th class="text-center">Legs</th>
		<th class="text-center">Bet Status</th>
		<th class="text-center">BetSlip Status</th>
		<th class="text-center">Payout</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var b in Model)
	{
		string pickClass = b.Pick switch
		{
			"Home" => "pill-brand-blue",
			"Draw" => "pill-brand-yellow",
			"Away" => "pill-brand-green",
			_ => ""
		};

		string statusClass = b.BetStatus switch
		{
			"Won" => "badge bg-success",
			"Lost" => "badge bg-danger",
			_ => ""
		};

		string betslipStatusClass = b.BetSlipStatus switch
		{
			"Won" => "badge bg-success",
			"Lost" => "badge bg-danger",
			_ => ""
		};

		<tr>
			<td class="text-center">@b.FullName (@b.Username)</td>
			<td class="text-center">
				<span class="@pickClass fw-semibold px-2 py-1 rounded">
					@b.Pick
				</span>
			</td>
			<td class="text-center">@b.Odds</td>
			<td class="text-center">€@b.Stake</td>
			<td class="text-center">@b.Legs</td>
			<td class="text-center">
				<span class="@statusClass">
					@b.BetStatus
				</span>
			</td>
			<td class="text-center">
				<span class="@betslipStatusClass">
					@b.BetSlipStatus
				</span>
			</td>
			<td class="text-center">@(b.Payout.HasValue ? $"€{b.Payout.Value:F2}" : "-")</td>
		</tr>
	}
	</tbody>
</table>

<style>
	.admin-user-bets-table{
		font-size: 0.85em;
	}

	.admin-user-bets-table tbody tr td .bg-success,
	.admin-user-bets-table tbody tr td .bg-danger {
		line-height: 1.5;
		text-shadow: 0px 1px 1px black;
	}
</style>