@model List<MatchFixer_Web_App.Areas.Admin.ViewModels.Events.MatchEventLogDto>

<h6 class="fw-bold text-center mb-3 text-muted">
	📝 Event Change Logs
</h6>
<table class="table table-sm table-striped admin-events-log-table">
	<thead>
	<tr class="text-center">
		<th>Date</th>
		<th>Property</th>
		<th>Old</th>
		<th>New</th>
		<th>Admin</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var log in Model)
	{
		<tr>
			<td class="text-center">@log.ChangedAt.ToString("g")</td>
			<td class="text-center">@log.PropertyName</td>
			<td class="text-center">@log.OldValue</td>
			<td class="text-center">@log.NewValue</td>
			<td class="text-center">@log.ChangedBy</td>
		</tr>
	}
	</tbody>
</table>